.popup__container {
    width: calc(282px + (430 - 282)*((100vw - 320px)/(1280 - 320)));
    min-height: 330px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    position: relative;
    border-radius: 10px;
}