.profile {
    width: calc(320px + (880 - 320)*((100vw - 320px)/(1280 - 320)));
    margin: auto;
    padding-top: 40px;
    display: grid;
    gap: 30px;
    grid-template-columns: 120px 1fr 150px;
    grid-template-areas: 
    "avatar info button";
    align-items: center;
}