.profile__editbutton-image {
    width: 10px;
    height: 10px;
    border: none;
    background-size: cover;
}

@media screen and (max-width: 500px) {
    .profile__editbutton-image {
        width: 7.5px;
        height: 7.5px;
    }
}