.profile__addbutton {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    padding: 0;
    box-sizing: border-box;
}

.profile__addbutton:hover {
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .profile__addbutton {
        width: 282px;
    }
}